.conditions {
	padding: 68px 0px 84px 0px;
	position: relative;
	z-index: 0;
	@media (max-width: 575px) {
		padding: 25px 0 33px 0;
	}

	&__label {
		@include label_dark;
	}

	&__title {
		@include title-dark;
		@media (max-width: 575px) {
			font-size: 22px;
		}
	}
	&__block {
		max-width: 478px;
		margin: 20px 0 20px 0;
	}
	&__block-nmb {
		margin-bottom: 0px;
	}

	&__subtitle {
		color: #1ca8c3;
		font-size: 22px;
		font-weight: 400;
		@media (max-width: 575px) {
			font-size: 18px;
		}
	}
	&__subtitle-upper {
		text-transform: uppercase;
	}
	&__list {
		list-style-type: none;
		padding-left: 50px;
		margin-top: 22px;
		@media (max-width: 575px) {
			margin-top: 5px;
		}
	}

	&__item {
		position: relative;
		color: #222222;
		font-size: 17px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 10px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 3px;
			left: -32px;
			width: 21px;
			height: 20px;
			background: url('/img/Сonditions/chek_blue1.png') center center/cover
				no-repeat;
			@media (max-width: 575px) {
				top: -3px;
			}
		}
		@media (max-width: 575px) {
			margin-bottom: 6px;
			line-height: 15px;
			font-size: 13px;
		}
	}

	&__descr {
		color: $main-color;
		font-weight: 300;
		font-size: 17px;
		@media (max-width: 768px) {
			font-size: 12px;
		}
		@media (max-width: 991px) {
			font-size: 12px;
		}
		@media (max-width: 575px) {
			br {
				display: none;
			}
			font-size: 13px;
		}
	}
}
.red {
	.conditions__subtitle {
		color: $second-color;
	}
	.conditions__list {
		.conditions__item {
			&::before {
				background: url('/img/Сonditions/chek_red.png') center center/cover
					no-repeat;
			}
		}
	}
}
